
@font-face {
  font-family: 'Roboto';
  src: url('../../test/examples/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../../test/examples/fonts/Roboto-Bold.woff') format('woff'), url('../../test/examples/fonts/Roboto-Bold.ttf')  format('truetype'), url('../../test/examples/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../test/examples/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),  url('../../test/examples/fonts/Roboto-Light.woff') format('woff'), url('../../test/examples/fonts/Roboto-Light.ttf')  format('truetype'), url('../../test/examples/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../test/examples/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('../../test/examples/fonts/Roboto-Medium.woff') format('woff'), url('../../test/examples/fonts/Roboto-Medium.ttf')  format('truetype'), url('../../test/examples/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../test/examples/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../../test/examples/fonts/Roboto-Regular.woff') format('woff'), url('../../test/examples/fonts/Roboto-Regular.ttf')  format('truetype'), url('../../test/examples/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
